#state-checkbox input {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#state-checkbox input:checked {
  background-color: #FF9455;
  border: none;
  box-shadow: 0 0 13px 1px #ff9455;
}